/* Stili per il Modale Podio */
.modal-content #leaderboard-list {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px;
}

.leaderboard-item {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #34495e;
    border: 1px solid #5d7c9a;
    border-radius: 6px;
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.leaderboard-rank {
    font-weight: bold;
    color: #f1c40f;
    min-width: 30px;
}

.leaderboard-name {
    font-weight: 500;
    color: #ecf0f1;
    flex-grow: 1;
}

.leaderboard-score {
    font-weight: bold;
    color: #fff;
}